<!DOCTYPE html>
<html> 
    <head>
        <title> Mediciones  </title>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
                  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                  crossorigin="anonymous">
         </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/utils.js')}}"></script>
        
        <style>
    	canvas {
    		-moz-user-select: none;
    		-webkit-user-select: none;
    		-ms-user-select: none;
    	}
    	.chart-container {
    		width: 400px;
    		margin-left: 40px;
    		margin-right: 40px;
    		margin-bottom: 40px;
    	}
    	.container {
    		display: flex;
    		flex-direction: row;
    		flex-wrap: wrap;
    		justify-content: center;
    	}
    	</style>
    </head>
    <body>
        <h1> ESTADO DE LA HUERTA </h1>
        <div class="container">	</div>
        <script>
                
	    	    
                function createConfig(details, hora) {
	    	    	return {
	    	    		type: 'line',
	    	    		data: {
	    	    			labels: hora,
	    	    			datasets: [{
	    	    				label: details.HORA,
	    	    				steppedLine: details.steppedLine,
	    	    				data: details.data,
	    	    				borderColor: details.color,
	    	    				fill: false,
	    	    			}]
	    	    		},
	    	    		options: {
	    	    			responsive: true,
	    	    			title: {
	    	    				display: true,
	    	    				text: details.label,
	    	    			}
	    	    		}
	    	    	};
	    	    }

                function addData(chart, data) {
                    //chart.data.labels.push(label);
                    //chart.data.datasets.forEach((dataset) => {
                    //    dataset.data.push(data);
                    //    });
                    //chart.update();
                    console.log(data);
                }

                function getContainer(container){
                    
                    var div = document.createElement('div');
	    	    	div.classList.add('chart-container');

	    	    	var canvas = document.createElement('canvas');
	    	    	div.appendChild(canvas);
	    	    	container.appendChild(div);
                    
                    return canvas;
                }

                function updateData(chart, label, value ){
                    chart.data.labels.shift();
                    chart.data.datasets[0].data.shift();
                    chart.data.labels.push(label);
                    chart.data.datasets[0].data.push(value);
                    chart.update();
                };


               window.onload = function() {
                    var data = JSON.parse({{data|tojson}});
                    var hora = data.HORA;    
	    	        var container = document.querySelector('.container');


                    var details = [{
	    	    	    steppedLine: false,
	    	    	    label: 'TEMPERATURA',
	    	    	    color: window.chartColors.red,
                        data:data.TEMP
	    	    	}, {
	    	    	    steppedLine: true,
	    	    	    label: 'HUMEDAD_REL',
	    	    	    color: window.chartColors.green,
                        data:data.HUM_REL
	    	    	}, {
	    	    	    steppedLine: 'before',
	    	    	    label: 'LUMINOSIDAD',
	    	    	    color: window.chartColors.green,
                        data:data.LUZ
	    	    	}, {
	    	    	    steppedLine: 'after',
	    	    	    label: 'HUMEDAD_SUELO',
	    	    	    color: window.chartColors.purple,
                        data:data.HUM_SOIL
	    	    	}];


                        var canvas = getContainer(container); 
	    	    	    var ctx = canvas.getContext('2d');
	    	    	    var config = createConfig(details[0], hora);
	                    var chartTemp = new Chart(ctx, config);


                        var canvas = getContainer(container); 
	    	    	    var ctx = canvas.getContext('2d');
	    	    	    var config = createConfig(details[1], hora);
	                    var chartHum = new Chart(ctx, config);

                         var canvas = getContainer(container); 
	    	    	    var ctx = canvas.getContext('2d');
	    	    	    var config = createConfig(details[2], hora);
	                    var chartLuz = new Chart(ctx, config);


                        var canvas = getContainer(container); 
	    	    	    var ctx = canvas.getContext('2d');
	    	    	    var config = createConfig(details[3], hora);
	                    var chartHumRel = new Chart(ctx, config);
                      
  
                        
                       setInterval(function() {
                           var n = data.HORA.length; 
                           var label = data.HORA[n-1];

                           console.log(n-1); 

                           updateData(chartTemp, label,data.TEMP[n-1]);
                           updateData(chartHum, label, data.HUM_REL[n-1]);
                           updateData(chartLuz, label, data.LUZ[n-1]);
                           updateData(chartHumRel, label, data.HUM_SOIL[n-1]);

                        }, 5000);
                };
                        
        </script>
    </body>

<html>
