canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.chart-container {
    width: 380px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.planta-container {
    width: 150px;
    height: 200;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.resumen-semanal {

    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

