{% extends 'base/base.html'%}

{% block content %}

<div class="container">

 <div class"col-sm">
        <div class="planta-container">
        <div class="card" style="width: 10rem;">
            <img class="img-thumbnail " src="{{ url_for('static', filename='img/mi_planta.jpg')}}" alt="Card image cap">
        </div>

    </div>

 </div>
    <div class="col-md" style="margin-top: 30px;">
        <ul>
            <li>Especie: Tomate</li>
            <li>Variedad: Asesino </li>
            <li>Descripción:  Un grupo de tomates modificados genéticamente, a consecuencia de un experimento llevado a cabo por el Gobierno, se rebela y comienza a atacar a la población. Para acabar con el problema, el Gobierno de Estados Unidos decide reunir a un grupo de élite quienes deben atajar el problema. 
            </li>
        </ul>
    </div>

</div>

<div class="alert alert-success" role="alert" align="center">
    <h4> Resumen semanal </h4>
</div>

<div class="resumen-semanal">
    <div class="card-group">
    
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">Temperatura</div>
            <div class="card-body">
                <h1 class="card-title">50°C</h1>
            </div>
        </div>

       <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
           <div class="card-header">Humedad relativa</div>
           <div class="card-body">
               <h1 class="card-title"> 60%</h1>
            </div>
      </div>

      <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
          <div class="card-header">Luminosidad</div>
            <div class="card-body">
                    <h1 class="card-title">67%</h1>
            </div>
    </div>
    
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-header">Humedad de suelo</div>
            <div class="card-body">
                    <h1 class="card-title">70%</h1>
             </div>
    </div>
    
    </div>

</div>

{% endblock %}
