<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="/" role="tab" aria-controls="nav-home" aria-selected="true">Inicio</a>
        <a class="nav-item nav-link" id="nav-planta-tab" data-toggle="tab" href="planta" role="tab" aria-controls="nav-contact" aria-selected="false">Mi planta</a>
<a class="nav-item nav-link" id="nav-calendario-tab" data-toggle="tab" href="calendario" role="tab" aria-controls="nav-contact" aria-selected="false">Calendario</a>
        <a class="nav-item nav-link" id="nav-huerta-tab" data-toggle="tab" href="huerta" role="tab" aria-controls="nav-profile" aria-selected="false">Huerta</a>
    </div>
 </nav>

 
<!-- 
 <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-registrar-tab"></div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
</div>

-->
